@page "/AdminPanel"

<PageTitle>Admin Panel</PageTitle>

<div class="WorkshopVerticalContainerNoBorder" style="gap: 0;">
    
    <div class = "WorkshopTitleText" style="margin-bottom: 10px">User Management</div>

    <table style="border-collapse: collapse; width: 100%; font-family: 'JetBrains Mono', sans-serif;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0x06AD</td>
                <td>Isaac Einstein</td>
                <td>isaaceinstein@gmail.com</td>
                <td>Student</td>
                <td>Offline</td>
                <td><button class = "WorkshopButton" >Edit</button></td>
            </tr>
        </tbody>
    </table>


    <div class = "WorkshopTitleText" style="margin-top: 10px; margin-bottom: 10px">Listing Management</div>


    <table style="border-collapse: collapse; width: 100%; font-family: 'JetBrains Mono', sans-serif;">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
            <th>Status</th>
            <th>Posted On</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>0xAB41</td>
            <td>Chair</td>
            <td>Furniture</td>
            <td>Pending</td>
            <td>2025-07-22</td>
            <td><button class = "WorkshopButton" >Edit</button></td>
        </tr>
        </tbody>
    </table>

    <div class="WorkshopTableRow" style="margin-bottom: 10px">

    </div>

</div>