@page "/Dashboard"

<PageTitle>Dashboard</PageTitle>

<div class = "WorkshopVerticalContainerNoBorder" style = "align-items: center;">
    
    <div class="WorkshopHorizontalContainerNoBorder">
        <button class = "WorkshopDashboardButton">Courses</button>
        <button class = "WorkshopDashboardButton">Library</button>
    </div>
    
    <div class="WorkshopHorizontalContainerNoBorder">
        <button class = "WorkshopDashboardButton">Marketplace</button>
        <button class = "WorkshopDashboardButton">Support</button>
    </div>
    
</div>
