<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/a509fede-173f-4a6a-a405-5160b0cd2f4f/resourcegroups/workshop-app-20250721234757ResourceGroup/providers/Microsoft.ContainerRegistry/registries/Workshop20250721235545</ContainerResourceId>
    <ContainerResourceName>Workshop20250721235545</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>workshop20250721235545.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>workshop-test</ContainerName>
    <EnvironmentName>Workshop-env-20250721234759</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://workshop-app-test.thankfulsmoke-0726f393.australiaeast.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/a509fede-173f-4a6a-a405-5160b0cd2f4f/resourceGroups/workshop-app-20250721234757ResourceGroup/providers/Microsoft.App/containerApps/workshop-app-test</ResourceId>
    <ResourceGroup>workshop-app-20250721234757ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>